input[type=checkbox]:checked + label {
    color: green;
}
.rating {
    display: inline-flex;
    flex-direction: row-reverse;
}
.rate {
    display: none;
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}
.rate:checked ~ label {
    color: salmon;
}
.rate:hover ~ label {
    color: salmon;
}

.vars-box {
    display: none;
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}
.vars-box:checked + label {
    border: 1px solid gray;
}
.vars-label {
    border: 1px solid transparent;
}