#dnd-field {
    border: 2px solid lightgray;
    height: 50vw;
    margin: 2%;
    position: relative;
    width: 96%;
}
.dnd-item {
    border-radius: 50%;
    height: 40px;
    position: absolute;
    width: 40px;
}
.maroon {
    background-color: maroon;
}
.lime {
    background-color: lime;
}
.gold {
    background-color: gold;
}

#right-block, #left-block {
    border: 2px solid lightgray;
    position: absolute;
    width: 45%;    
    bottom: 0;
    height: 25%;
}
#left-block {
    left: 0;
}
#right-block {
    right: 0;
}
