
.modal {
    background-color: #999;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    width: 100vw;
}

.block-1 {
    background-color: aquamarine;
    border: 1px solid lightgray;
    height: 200px;
    width: 200px;
}

.block-2 {
    background-color: lime;
    height: 100px;
    margin: 50px;
    width: 100px;
}

.block-2 img {
    max-height: 80%;
    max-width: 80%;
}

.block-3 {
    background-color: aquamarine;
    border: 1px solid lightgray;
    height: 200px;
    position: relative;
    width: 200px;
}
.block-4 {
    background-color: gold;
    border-radius: 50%;
    position: absolute;
    height: 30px;
    left: 50px;
    top: 50px;
    width: 30px;
}